**/.env
.idea/
**/geckodriver.log
.vscode/
/testcases/profile/datareporting/
/testcases/profile/sessionstore-backups/
/testcases/profile/minidumps/
/testcases/profile/storage/
/testcases/profile/crashes/
/testcases/profile/webappsstore.sqlite
/testcases/profile/webappsstore.sqlite-wal
/testcases/profile/compatibility.ini
/testcases/profile/cookies.sqlite
/testcases/profile/cookies.sqlite-wal
/testcases/profile/favicons.sqlite
/testcases/profile/favicons.sqlite-wal
/testcases/profile/places.sqlite
/testcases/profile/places.sqlite-wal
/testcases/profile/extensions
/testcases/profile/SiteSecurityServiceState.txt
/testcases/__pycache__/
/testcases/jsondata/
/testcase/backupdata/
**/.DS_Store
**/__pycache__/
test_app/src/certs/
**/*.pyc
**/*.log
driver/config/container.lock
driver/config/browsersupport.json
driver/junit_output.xml
sync/tags.db.json
sync/testcases.db.json
sync/translated.json